<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.ZaraDBConnectionString"
            connectionString="Data Source=tcp:cs425server.database.windows.net;Initial Catalog=ZaraDB;Persist Security Info=True;User ID=eballesterosgrande;Password=Quiero1ZaraDBplss"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>